<section id="card1" class="card">
  <!-- Parte frontal de la tarjeta -->
  <div class="card-content-front">
    <h1 class="card-title">{{ content.name }}</h1> <!-- Nombre del contenido -->
    <!-- <h2>{{ content.categoria || 'Sin categoría' }}</h2> Categoría -->
    <img [src]="photo || './assets/no-content.jpg'" alt="Imagen del servicio" class="card-image max-h-60 object-cover">
    <p class="card-description">
      {{ content.description || 'Descripción no disponible.' }}
    </p>
  </div>

  <!-- Parte trasera de la tarjeta -->
  <div class="card-content-back" *ngIf="content.service">
    <!-- Título del servicio -->
    <p class="card-title">{{ content.service.name }}</p>

    <!-- Información de país y ciudad -->
    <div class="grid-container">
      <div class="grid-item">
        <strong>País:</strong> <span>{{ content.service.country || 'No especificado' }}</span>
      </div>
      <div class="grid-item">
        <strong>Ciudad:</strong> <span>{{ content.service.city || 'No especificada' }}</span>
      </div>

      <!-- Precio y Categoría -->
      <div class="grid-item">
        <strong>Precio:</strong> <span>${{ content.service.price || '0.00' }}</span>
      </div>
      <div class="grid-item">
        <strong>Categoría:</strong> <span>{{ content.service.category }}</span>
      </div>

      <!-- Latitud y Longitud -->
      <div *ngIf="content.service.latitude && content.service.longitude">
        <div class="grid-item">
          <strong>Latitud:</strong> <span>{{ content.service.latitude }}</span>
        </div>
        <div class="grid-item">
          <strong>Longitud:</strong> <span>{{ content.service.longitude }}</span>
        </div>
      </div>

      <!-- Fechas de salida y llegada -->
      <div *ngIf="content.service.departureDate">
        <div class="grid-item">
          <strong>Fecha de salida:</strong> <span>{{ content.service.departureDate }}</span>
        </div>
      </div>
      <div *ngIf="content.service.duration">
        <div class="grid-item">
          <strong>Duración:</strong> <span>{{ content.service.duration }}</span>
        </div>
      </div>

      <!-- Ruta y Tipo de Transporte -->
      <div *ngIf="content.service.category === 'TRANSPORT'">
        <!-- <div class="grid-item">
          <strong>Ruta:</strong> <span>{{ content.service.ruta }}</span>
        </div> -->
        <div class="grid-item">
          <strong>Transporte:</strong> <span>{{ content.service.transportType }}</span>
        </div>
      </div>

      <!-- Descripción -->
      <div class="grid-item-full">
        <strong>Descripción:</strong>
        {{ content.service.description || 'Descripción no disponible.' }}
      </div>
    </div>
    <app-add-to-cart *ngIf="content.service" [serviceId]="content.service.serviceId"></app-add-to-cart>
    <button (click)="goToInfoService()" class="verMas" style="margin-top: 1rem;" *ngIf="content.service">Ver más información</button>
  </div>
</section>