<section id="card1" class="card">
  <div class="card-content-front">
    <h1 class="card-title">nombre contenido</h1>
    <h2 >categoria contenido</h2>
    <img src="./assets/food-service.png" alt="Descripción de la imagen" class="card-image">
    <p class="card-description">
      contenido": Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
      justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
      tincidunt augue id, efficitur massa.
    </p>
  </div>
  <div class="card-content-back">
    <!-- Título del servicio -->
    <p class="card-title">Nombre del Servicio</p>
    
  
    <!-- Información de país y ciudad -->
    <div class="grid-container">
      <div class="grid-item">
        <strong>País:</strong> <span>País</span>
      </div>
      <div class="grid-item">
        <strong>Ciudad:</strong> <span>Ciudad</span>
      </div>
  
      <!-- Precio y Categoría -->
      <div class="grid-item">
        <strong>Precio:</strong> <span>$100</span>
      </div>
      <div class="grid-item">
        <strong>Categoría:</strong> <span>Categoría</span>
      </div>
  
      <!-- Latitud y Longitud (opcional) -->
      <div class="grid-item">
        <strong>Latitud:</strong> <span>00.000</span>
      </div>
      <div class="grid-item">
        <strong>Longitud:</strong> <span>00.000</span>
      </div>
  
      <!-- Fechas de salida y llegada (opcional) -->
      <div class="grid-item">
        <strong>Fecha de salida:</strong> <span>2024-01-01</span>
      </div>
      <div class="grid-item">
        <strong>Fecha de llegada:</strong> <span>2024-01-10</span>
      </div>
  
      <!-- Ruta y Tipo de Transporte (opcional) -->
      <div class="grid-item">
        <strong>Ruta:</strong> <span>Ruta 1</span>
      </div>
      <div class="grid-item">
        <strong>Transporte:</strong> <span>Bus</span>
      </div>

      <!-- Descripción (opcional, ocupa toda la fila) -->
      <div class="grid-item-full">
        <strong>Descripción:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. elit.
      </div>
    </div>
    <app-add-to-cart *ngIf="producto.tipo ==true"></app-add-to-cart>
    <button (click)="goToInfoService()" class="verMas" *ngIf="producto.tipo != true">Ver más información</button>
    
  </div>
</section>