<div class="drag-area" #dropArea (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">
  <ng-container *ngIf="!previewUrl; else imagePreview">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>{{ dragText }}</header>
    <span>OR</span>
    <button type="button" (click)="onButtonClick()">Browse File</button>
    <input #fileInput type="file" hidden (change)="onFileChange($event)" />
  </ng-container>

  <!-- Template para mostrar la imagen -->
  <ng-template #imagePreview>
    <div class="inner-area">
      <img [src]="previewUrl" alt="Uploaded Image" />
    </div>
    <!-- Botón opcional para eliminar o cambiar la imagen -->
    <button type="button" class="remove-btn" (click)="reset()">Remove Image</button>
  </ng-template>
</div>