<body>
    
    <!-- <app-google-maps></app-google-maps> -->
    
    <!-- <app-drag-and-drop-files></app-drag-and-drop-files>-->

    <div class="content">
        <div class="text">
            Ingresar
            
        </div>
        <form action="#">
            <div class="field">
                
                <input type="text" placeholder=" ">
                <span class="fas fa-user"></span>
                <label>Usuario</label>
            </div>
            <div class="field">
                <input type="password" placeholder=" ">
                <span class="fas fa-lock"></span>
                <label>Contraseña</label>
            </div>
            <div class="forgot-pass">
                <a>Olvidaste tu  contraseña?</a>
            </div>
            <button (click)="goToDashboard()">Ingresar</button>
            
            <div class="sign-up">
                ¿No eres miembro?
                <a (click)="goToRegistry()" class="cursor-pointer">Regístrate ahora</a>
            </div>

        </form>
    </div>
</body>