<body>
    
    <!-- <app-google-maps></app-google-maps> -->
    
    <!-- <app-drag-and-drop-files></app-drag-and-drop-files>-->


    <div class="content">
        <div class="text">
            Ingresar
        </div>
        <form action="#" [formGroup]="loginForm" (submit)="onSubmit($event)">
            <div class="field">
                <input type="text" placeholder="" formControlName="username">
                <span class="fas fa-user"></span>
                <label>Usuario</label>
            </div>
            <div class="field">
                <input type="password" placeholder="" formControlName="password">
                <span class="fas fa-lock"></span>
                <label>Contraseña</label>
            </div>
            <div class="forgot-pass">
                <a>Olvidaste tu contraseña?</a>
            </div>
            <button type="submit">Ingresar</button>
            
            <div class="sign-up">
                ¿No eres miembro?
                <a (click)="goToRegistry()" class="cursor-pointer">Regístrate ahora</a>
            </div>

        </form>
    </div>
</body>