
<main class="main">
  <header>
    <app-menu class="menu"></app-menu>
    <app-search-bar class="searchBar"></app-search-bar>
    <app-cart-shopping class="cart"></app-cart-shopping>
  </header>
  <section class="section-container">
    <div class="card-grid">

      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      
    </div>
  </section>
  

  
</main>


<router-outlet />
