<body>
    <div class="content">
        <div class="text">
            Registro
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Fotografía (se muestra en el paso 1) -->
            <div *ngIf="currentStep === 1" class="photo-upload">
                <div class="wrapper">
                    <div class="img-area">
                        <div class="inner-area">
                            <img [src]="imageUrl" alt="Fotografía" class="fotografia" id="profileImage">
                        </div>
                    </div>
                    <!-- Botón circular pequeño con el ícono de + para subir imagen -->
                    <label for="file-upload" class="upload-icon">
                        <i class="fas fa-plus"></i>
                    </label>
                    <input type="file" id="file-upload" accept="image/*" (change)="onFileSelected($event)" hidden>
                </div>
            </div>

            <!-- Paso 1 -->
            <div *ngIf="currentStep === 1" class="step">
                <div class="field">
                    <input type="text" formControlName="nombre" placeholder=" ">
                    <span class="fas fa-user"></span>
                    <label>Nombre</label>
                </div>
                <div class="field">
                    <input type="text" formControlName="username" placeholder=" ">
                    <span class="fas fa-user-circle"></span>
                    <label>Username</label>
                </div>
                <div class="field">
                    <input type="text" formControlName="email" placeholder=" ">
                    <span class="fas fa-envelope"></span>
                    <label>Email</label>
                </div>
                <div class="field">
                    <input type="password" formControlName="password" placeholder=" ">
                    <span class="fas fa-lock"></span>
                    <label>Contraseña</label>
                </div>
            </div>

            <!-- Paso 2 -->
            <div *ngIf="currentStep === 2" class="step">
                <div class="field">
                    <input type="number" formControlName="edad" required min="1"
                        (input)="validatePositiveValue($event)" placeholder=" ">
                    <span class="fas fa-birthday-cake"></span>
                    <label>Edad</label>
                </div>

                <div class="field">
                    <select formControlName="tipoUsuario" (change)="onTipoUsuarioChange()">
                        <option value="" disabled>Selecciona una opción</option> 
                        <option value="cliente">Cliente</option>
                        <option value="proveedor">Proveedor</option>
                    </select>
                    <label>Tipo de Usuario</label>
                    <span class="fas fa-user-tag"></span>
                </div>


                <div class="field">
                    <textarea formControlName="descripcion" maxlength="300" placeholder=" " ></textarea>
                    <label>Descripción (máx. 300 caracteres)</label>
                </div>
            </div>

            <!-- Solo para proveedores -->
            <div *ngIf="isProveedor()">
                <div class="field">
                    <input type="number" formControlName="telefono" min="1" (input)="validatePositiveValue($event)" placeholder=" ">
                    <span class="fas fa-phone"></span>
                    <label>Número de Teléfono</label>
                </div>
                <div class="field">
                    <input type="text" formControlName="web_page" placeholder=" ">
                    <span class="fas fa-globe"></span>
                    <label>Página web</label>
                </div>
                <div class="field">
                    <input type="text" formControlName="redes_sociales" placeholder=" ">
                    <span class="fas fa-share-alt"></span>
                    <label>Redes sociales</label>
                </div>
            </div>

            <!-- Navegación -->
            <div class="navigation">
                <button type="button" (click)="prevStep()" *ngIf="currentStep > 1" class="nav-button">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button type="button" (click)="nextStep()" *ngIf="currentStep < 2" class="nav-button">
                    <i class="fas fa-arrow-right"></i>
                </button>

                <button type="submit" *ngIf="currentStep === 2" class="submit-button">
                    Registrarse
                </button>
                <div class="forgot-pass" *ngIf="currentStep < 2">
                    <a href="/login">Ya tienes cuenta?</a>
                </div>
            </div>
        </form>
    </div>
</body>