<app-go-to-dashboard></app-go-to-dashboard>
<div class="rentalapplication">
    <div class="topcontainer">
        <div class="tittle">{{ content.service?.name }}</div>
        <div class="optioncontainer">
            <i class="fa-solid fa-share-nodes"></i>
            <h3>Compartir</h3>
        </div>
        <div class="optioncontainer">
            <i class="fa-solid fa-bookmark"></i>
            <h3>Guardar</h3>
        </div>
    </div>
    <div class="imagescontainer">
        <div class="leftimage">
            <img [src]="photo || 'assets/no-content.jpg'" alt="placeholder" class="imgplace h-96 object-cover" />
        </div>
        <div class="rightimage">
            <!-- <app-weather></app-weather> -->
            <app-google-maps></app-google-maps>
        </div>
    </div>
    <div class="details">
        <div class="placedetails">

            <div class="card">
                <div class="card-header">
                    <h2>{{ content.service?.country }} - {{ content.service?.capital }} ({{ content.service?.city
                        }})</h2>
                    <h3>{{ content.service?.officialName }}</h3>
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <div class="info-item">
                            <strong>Idioma:</strong>
                            <span>{{ content.service?.language }}</span>
                        </div>
                        <div class="info-item">
                            <strong>Región:</strong>
                            <span>{{ content.service?.region }}</span>
                        </div>
                        <div class="info-item">
                            <strong>Moneda:</strong>
                            <span>{{ content.service?.currency }}</span>
                        </div>
                        <div class="info-item">
                            <strong>Población:</strong>
                            <span>{{ content.service?.population | number }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews mb-2">
                <div class="group relative w-min">
                    <button>
                        <i class="fa-regular fa-star"></i>
                    </button>
                    <span
                        class="flex flex-col gap-2 items-center absolute -translate-y-[calc(125%)] left-1/2 z-20 origin-bottom -translate-x-1/2 scale-0 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm text-black shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                        <div class="rating">
                            <input type="radio" id="star-1" name="star-radio" value="star-1" (click)="setChecked(5)" [checked]="myRating.rating === 5">
                            <label for="star-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path pathLength="360"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                                    </path>
                                </svg>
                            </label>
                            <input type="radio" id="star-2" name="star-radio" value="star-1" (click)="setChecked(4)" [checked]="myRating.rating === 4">
                            <label for="star-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path pathLength="360"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                                    </path>
                                </svg>
                            </label>
                            <input type="radio" id="star-3" name="star-radio" value="star-1" (click)="setChecked(3)" [checked]="myRating.rating === 3">
                            <label for="star-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path pathLength="360"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                                    </path>
                                </svg>
                            </label>
                            <input type="radio" id="star-4" name="star-radio" value="star-1" (click)="setChecked(2)" [checked]="myRating.rating === 2">
                            <label for="star-4">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path pathLength="360"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                                    </path>
                                </svg>
                            </label>
                            <input type="radio" id="star-5" name="star-radio" value="star-1" (click)="setChecked(1)" [checked]="myRating.rating === 1">
                            <label for="star-5">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path pathLength="360"
                                        d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
                                    </path>
                                </svg>
                            </label>
                        </div>
                        <textarea name="" id="comment" [value]="myRating.comment"
                            class="h-16 w-full resize-none outline-none rounded-lg border border-neutral-400 px-2 py-1"></textarea>
                        <button (click)="onChangeComment()"
                            class="px-2 py-1 rounded-full bg-blue-200 border border-neutral-400">Guardar</button>
                    </span>
                </div>
                <h3>{{ averageRatingReceived | number : "1.1-1" }}</h3>
                <h3>{{ reviewsCountReceived }} Reseñas</h3>
            </div>

            <div class="ownerinfo">
                <i class="fa-solid fa-user"></i>
                <div>
                    <h2>Proveedor: {{ content.user.username }}</h2>
                    <h3>{{ content.user.email }}</h3>
                </div>
            </div>
            <div class="descriptioninfo">
                <h3>Descripción</h3>
                <p>
                    {{ content.service?.description }}
                </p>
                <div class="moreinfodescription">
                    <h4>Mostrar más</h4>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>

                <h3>Categoría</h3>
                <p>
                    {{ content.service?.category }}
                </p>
            </div>
            <div class="contenidoSecciones">
                <div class="dates">
                    <div class="wrapper-calendar">
                        <h2>Fecha Entrada</h2>
                        <div class="header-calendar">
                            <div>
                                <button (click)="changeMonth(-1)" class="btn-prev">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                            </div>
                            <h1>{{ dateSelect | date : "MMMM, yyyy" }}</h1>
                            <div>
                                <button (click)="changeMonth(1)" class="btn-next">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <ol>
                            <li *ngFor="let day of week" class="day-name">
                                {{ day | slice : 0 : 3 }}
                            </li>
                            <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                [ngClass]="{ 'selected-day': selectedDay === day }"
                                *ngFor="let day of monthSelect; let first = first">
                                <span>{{ day?.value }}</span>
                            </li>
                        </ol>
                    </div>
                    <div class="wrapper-calendar">
                        <h2>Fecha Salida</h2>
                        <div class="header-calendar">
                            <div>
                                <button (click)="changeMonthExit(-1)" class="btn-prev">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                            </div>
                            <h1>{{ dateSelectExit | date : "MMMM, yyyy" }}</h1>
                            <div>
                                <button (click)="changeMonthExit(1)" class="btn-next">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <ol>
                            <li *ngFor="let day of week" class="day-name">
                                {{ day | slice : 0 : 3 }}
                            </li>
                            <li (click)="clickDayExit(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                                [ngClass]="{ 'selected-day': selectedDayExit === day }"
                                *ngFor="let day of monthSelectExit; let first = first">
                                <span>{{ day?.value }}</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <app-weather [cityName]="cityName"></app-weather>
            </div>
        </div>
        <div class="summary">
            <h2>Precio </h2>
            <h4>$ {{ content.service?.price }} pesos</h4>
            <div class="itemsdetails">
                <div class="eachitem">
                    <h4>Salida</h4>
                    <h5>{{ content.service?.departureDate }}</h5>
                </div>
                <div class="eachitem">
                    <h4>Duración</h4>
                    <h5>{{ content.service?.duration }} horas </h5>
                </div>
                <div class="eachitem">
                </div>
            </div>
            <h1>Total: $ {{ content.service?.price }} pesos </h1>
            <div class="reserve">
                <app-add-to-cart></app-add-to-cart>
            </div>

        </div>
    </div>
</div>