<div class="container">
    <div class="profile">

        <div class="text">
            Perfil
        </div>

        <!-- Fotografía (se muestra en el paso 1) -->
        <div class="photo-upload">
            <div class="wrapper">
                <div class="img-area">
                    <div class="inner-area">
                        <img [src]="photo || 'assets/avatar.svg'" alt="photo" class="fotografia" id="profileImage">
                    </div>
                </div>
            </div>
        </div>

        <!-- Paso 1 -->
        <div class="step">
            <div class="data-provider">
                <span class="fas fa-user"></span>
                <label>{{ user.name || 'Nombre' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-user-circle"></span>
                <label>{{ user.username || 'Nombre de usuario' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-envelope"></span>
                <label>{{ user.email || 'Email' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-phone"></span>
                <label>{{ user.phone || 'Telefono' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-birthday-cake"></span>
                <label>{{ user.age || 'Edad' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-globe"></span>
                <label>{{ user.webpage || 'Pagina web' }}</label>
            </div>
            <div class="data-provider">
                <span class="fa-solid fa-square-pen"></span>
                <label>{{ user.description || 'Descripcion' }}</label>
            </div>
            <div class="data-provider">
                <span class="fas fa-share-alt"></span>
                <label>{{ user.socialmedia || 'Redes sociales' }}</label>
            </div>
        </div>

    </div>
    <div class="main">
        <!-- Generar tarjetas dinámicamente -->
        <app-card *ngFor="let content of contents" [content]="content" class="content-card">
        </app-card>
    </div>

    <div class="filters">
        <div class="text">
            Filtros
        </div>
        <div class="filters-sub">
            <div class="filters-sub1">
                <!-- Contenido de Filtros -->
                <div class="menu-item">Dashboard</div>
                <div class="menu-item">Shortcuts</div>
                <div class="menu-item">Overview</div>
                <div class="menu-item">Events</div>
                <div class="menu-item">About</div>
                <div class="menu-item">Services</div>
                <div class="menu-item">Contact</div>
                <div class="menu-item">Feedback</div>

            </div>
            <button type="submit" class="create-content-button" (click)="openPopup()">
                Crear contenido
            </button>
            <app-create-content-provider [isVisible]="isPopupVisible" (close)="closePopup()">
            </app-create-content-provider>
        </div>
    </div>
</div>