.container {
    display: flex;
    height: 100vh;
    overflow-y: auto;
    /* Permite desplazamiento interno si el contenido lo requiere */
    min-width: 100vw;
    width: 100%;
    background-color: #e2e2e2;
}

.profile,
.filters {
    flex-shrink: 0;
    /* Evita que estas secciones se redimensionen */
    position: sticky;
    /* Hace que estas secciones permanezcan visibles mientras se desplaza */
    top: 0;
    /* Fija la posición al borde superior */
    height: 100vh;
    overflow-y: auto;
    background-color: #e2e2e2;
    padding: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filters {
    width: 30%;
    box-shadow: 3px 3px 7px #ffffff73,
        -2px -2px 5px rgba(94, 104, 121, 0.288);
        
    }
    
.filters-sub
{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
}

.main {
    flex-grow: 1;
    /* Permite que esta sección se expanda */
    overflow-y: visible;
    /* No restringe el scroll aquí */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #e2e2e2;
}

.profile-tittle
{
    display: flex;
    
}

.profile {
    width: 30%;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 5px rgba(94, 104, 121, 0.288);
    display: flex;
    flex-direction: column;

}

.text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #595959; 
}

.img-area {
    background: #e2e2e2;
    box-shadow: 2px 2px 5px #BABECC,
        -5px -5px 10px #ffffff73;

}

.wrapper {
    position: relative;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;

}



.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.data-provider {
    margin-bottom: 20px;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 6px 15px;
    border-radius: 25px;
}

/* Iconos dentro de los campos */
.data-provider span {
    outline: none;
    border-radius: 25px;
    border: none;
    width: 100%;

    font-size: 16px;
    background: #e2e2e2;
    color: #595959;

}

.data-provider:hover {
    font: 500;
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Labels flotantes */
.data-provider label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #888888;
    transition: all 0.3s ease;
    background: transparent;
    padding: 0 5px;
}


/* Fotografía */
.fotografia {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #e2e2e2;

}

/* Sección de carga de fotografía */
.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.wrapper .img-area {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

/* Icono de + para subir imagen */
.upload-icon {
    position: absolute;
    background: #a2a2a2;
    color: white;
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    bottom: 0;
    right: 15px;
}

.upload-icon:hover {
    background: #3498db;
}

.menu-item {
    color: #31344b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #BABECC,
        -5px -5px 10px #ffffff73;
    margin-top: 12px;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: inline-block;
    width: auto;
}

.menu-item:hover {
    transform: translateY(-3px);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.2);
}

.create-content-button {
    width: 85%;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #3498db;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 5px #BABECC,
        -5px -5px 10px #ffffff73;
    border: none;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.create-content-button:hover {
    background: #2980b9;
    color: #ffffff;
}

.filters-sub1
{
    height: 75vh;
}