<div class="menu-container">
  <!-- Toggle Checkbox -->
  <input id="toggleChecker" type="checkbox">
  
  <!-- Toggle Button with Animation -->
  <label id="togglerLabel" for="toggleChecker">
    <div class="checkboxtoggler">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
  </label>
  
  <div class="side_bar">
    <div class="title">
      <div class="logo">Categorías</div>
      <label class="button cancel" for="toggleChecker">
        <i class="fas fa-times"></i>
      </label>
    </div>

    <div class="menu-item">Dashboard</div>
    <div class="menu-item">Shortcuts</div>
    <div class="menu-item">Overview</div>
    <div class="menu-item">Events</div>
    <div class="menu-item">About</div>
    <div class="menu-item">Services</div>
    <div class="menu-item">Contact</div>
    <div class="menu-item">Feedback</div>
  </div>
</div>
