<div class="menu-container">
  <!-- Toggle Checkbox -->
  <input id="toggleChecker" type="checkbox">
  
  <!-- Toggle Button with Animation -->
  <label id="togglerLabel" for="toggleChecker">
    <div class="checkboxtoggler">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
  </label>
  
  <div class="side_bar">
    <div class="title">
      <div class="logo">Categorías</div>
      <label class="button cancel" for="toggleChecker">
        <i class="fas fa-times"></i>
      </label>
    </div>

    <button class="menu-item" [class.active]="filters.has(ServiceCategory.ALIMENTATION)" (click)="onClickFilter(ServiceCategory.ALIMENTATION)">Alimentación</button>
    <button class="menu-item" [class.active]="filters.has(ServiceCategory.HOUSING)" (click)="onClickFilter(ServiceCategory.HOUSING)">Alojamiento</button>
    <button class="menu-item" [class.active]="filters.has(ServiceCategory.TRANSPORT)" (click)="onClickFilter(ServiceCategory.TRANSPORT)">Transport</button>
    <button class="menu-item" [class.active]="filters.has(ServiceCategory.ECO_WALK)" (click)="onClickFilter(ServiceCategory.ECO_WALK)">Paseo Ecológico</button>
  </div>
</div>
